<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Gomix!</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <!-- <textarea id="output"></textarea> -->
    <div>
      <button id="pause">Toggle Pause</button>
      <button id="clear">Clear</button>
      <button id="random">Randomize</button>
    </div>
    <canvas id="output"></canvas>
    
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
